.greeting {
    .title{
        display: flex;
        color: $dark;
        font-size: 1.5rem;
        font-weight: 700;
        input{
            margin-left: 0.5rem;
            flex: 1 1 0%;
            min-width: 0;
            color: $dark;
            font-size: 1.5rem;
            font-weight: 700;    
        }
    }
}

.create-todo{
    input[type="text"]{
        display: block;
        width: 100%;
        font-size: 1.125rem;
        padding: 1rem 1.5rem;
        color: $dark;
        background-color: #FFF;
        border-radius: 0.5rem;
        @include shadow;
        margin-bottom: 1.5rem;
    }
    .options{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-bottom: 1.5rem;
        label{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            background-color: #FFF;
            border-radius: 0.5rem;
            @include shadow;
            cursor: pointer;
            div{
                color: $dark;
                font-size: 1.125rem;
                margin-top: 1rem;
            }
        }
    }
    input[type="submit"]{
        display: block;
        width: 100%;
        font-size: 1.125rem;
        padding: 1rem 1.5rem;
        color: #FFF;
        background-color: $primary;
        border-radius: 0.5rem;
        @include personal-glow;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover{
            opacity: 0.75;
        }
    }
}

input[type="radio"], input[type="checkbox"]{
    display: none;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $business;
    @include business-glow;
    &::after{
        content: "";
        display: block;
        opacity: 0;
        width: 0px;
        height: 0px;
        background-color: $business;
        @include business-glow;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
    }
}

.bubble.personal{
    border-color: $personal;
    @include personal-glow;
    &::after{
        background-color: $personal;
        @include personal-glow;
    }
}

input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}

.todo-list{
    .list{
        margin: 1rem 0;
    }
    .todo-item{
        display: flex;
        align-items: center;
        background-color: #FFF;
        padding: 1rem;
        border-radius: 0.5rem;
        @include shadow;
        margin-bottom: 1rem;
        label{
            display: block;
            margin-right: 1rem;
            cursor: pointer;
        }
        .todo-content{
            flex: 1 1 0%;
            input{
                color: $dark;
                font-size: 1.125rem;
            }
        }
        .actions{
            display: flex;
            align-items: center;
            button{
                display: block;
                padding: 0.5rem;
                border-radius: 0.25rem;
                color: #FFF;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover{
                    opacity: 0.75;
                }
            }
            .edit{
                margin-right: 0.5rem;
                background-color: $primary;
            }
            .delete{
                background-color: $danger;
            }
        }
    }
}

.todo-item.done{
    .todo-content{
        input{
            text-decoration: line-through;
            color: $grey;
        }
    }
}
