.todo-app {
  width: 80%;
  margin: auto;
}

.greeting {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  .title {
    display: flex;
    color: $dark;
    font-size: 1.5rem;
    font-weight: bold;
    #name {
      margin-left: 0.5rem;
      flex: 1 1 0%;
      min-width: 0;
      color: $dark;
      font-size: 1.5rem;
      font-weight: 700;
      appearance: none;
      border: none;
      outline: none;
      background: none;
    }
  }
}

.create-todo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  #content {
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: $dark;
    background-color: #fff;
    border-radius: 0.5rem;
    @include shadow;
    margin-bottom: 1.5rem;
    appearance: none;
    border: none;
    outline: none;
  }
  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 48%;
      padding: 1.5rem;
      background-color: #fff;
      border-radius: 0.5rem;
      @include shadow;
      cursor: pointer;
      .bubble-title {
        color: $dark;
        font-size: 1.125rem;
        margin-top: 1rem;
      }
    }
  }
  #submit {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: $primary;
    border-radius: 0.5rem;
    @include personal-glow;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    appearance: none;
    border: none;
    outline: none;
    &:hover {
      opacity: 0.75;
    }
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $business;
  @include business-glow;
  &::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: $business;
    @include business-glow;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }
}

.bubble.personal {
  border-color: $personal;
  @include personal-glow;
  &::after {
    background-color: $personal;
    @include personal-glow;
  }
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.todo-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  .list {
    margin: 1rem 0;
  }
  .todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    @include shadow;
    margin-bottom: 1rem;
    label {
      display: block;
      margin-right: 1rem;
      cursor: pointer;
    }
    .todo-content {
      flex: 1 1 0%;
      input {
        color: $dark;
        font-size: 1.125rem;
        appearance: none;
        border: none;
        outline: none;
        background: none;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      button {
        display: block;
        padding: 0.5rem;
        border-radius: 0.25rem;
        color: #fff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
          opacity: 0.75;
        }
      }
      .edit {
        margin-right: 0.5rem;
        background-color: $primary;
        appearance: none;
        border: none;
        outline: none;
      }
      .delete {
        background-color: $danger;
        appearance: none;
        border: none;
        outline: none;
      }
    }
  }
}

.todo-item.done {
  .todo-content {
    input {
      text-decoration: line-through;
      color: $grey;
    }
  }
}
